[Unit]
Description=uWSGI test
After=syslog.target

[Service]
User=vagrant
WorkingDirectory=/home/vagrant/project/django-ansible/djtest
ExecStart=/home/vagrant/.pyenv/shims/uwsgi --ini /home/vagrant/project/django-ansible/uwsgi.ini
# Requires systemd version 211 or newer
Environment=PYENV_VERSION=3.6.9
Restart=always
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target
